@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gray-100 text-gray-800;
}

a {
  @apply text-blue-600;
}
.header-nav-link {
  color: #333; /* Change this color to your desired text color */
}
.header-nav-link:hover {
  color: #666; /* Change this color to your desired hover text color */
}
.max-w-screen {
  max-width: none !important;
}